diffusers[torch]==0.37.1
transformers==5.5.0
torchmetrics==1.9.0
accelerate==1.13.0
opencv-python==4.13.0.92
sentencepiece==0.2.1
protobuf==7.34.1
einops==0.8.2
peft==0.18.1
trimesh==4.11.5
rtree==1.4.1
pycocotools==2.0.11
git+https://github.com/microsoft/MoGe.git@0744441#egg=moge
git+https://github.com/facebookresearch/sam3.git@11dec29#egg=sam3
